{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Welcome Guest!</h1>
    <p>This example demonstrates Corbado's passkey-first authentication solution.</p>
    <p>It covers all relevant aspects like -</p>
    <ul>
        <li>Sign-up</li>
        <li>Login</li>
        <li>Protecting Routes</li>
    </ul>
    <p>It can be used as a starting point for your own application or to learn.</p>
    <a class="button" href="{{ url_for('signup') }}">Sign up</a>
    <a class="button" href="{{ url_for('login') }}">Login</a>
</div>
{% endblock %}